datasethandler/Dataset/__pycache__/__init__.cpython-39.pyc
datasethandler/__pycache__/__init__.cpython-39.pyc
datasethandler/Dataset/__pycache__/Architects.cpython-39.pyc
datasethandler/DatasetTypes/__pycache__/__init__.cpython-39.pyc
datasethandler/DatasetTypes/Classification/__pycache__/__init__.cpython-39.pyc
datasethandler/Preprocessing/__pycache__/__init__.cpython-39.pyc
datasethandler/Statics/__pycache__/__init__.cpython-39.pyc
